* {
	box-sizing: border-box;
	display: grid;
}

.body {
	height: 100vh;
	overflow: hidden;
}

.container {
	position: absolute;
	right: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 300px;
	border: 10px rgb(155, 155, 188) solid;
	border-radius: 20px;
	padding-bottom: 60px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	background-color: antiquewhite;
}

.open-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid black;
	background-color: rgb(50, 50, 172);
	color: white;
}

.open-button:hover {
	background-color: rgb(50, 50, 172);
	color: white;
	cursor: pointer;
}

.open-button:active {
	transform: scale(0.95);
}

.close-button:hover {
	cursor: pointer;
}

.close-button:active {
	transform: scale(0.95);
}

.container.hidden {
	opacity: 0%;
	transition: 0.3s;
}

.open-button.hidden {
	opacity: 0%;
	transition: 0.3s;
}

.color-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	width: 300px;
}

.color-picker {
	width: 120px;
	height: 60px;
	border-radius: 10px;
}
